<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatix</title>

    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/fontello.css}" type="text/css" rel="stylesheet">

</head>
<body onload="connect()">

<input id="name" type="hidden" th:value="${username}">

<div class="cnt">
    <div class="nav">
        <a th:href="@{/public-chat}"><button class="manage-users-btn">Back to Chat</button></a>
        <a th:href="@{/logout}"><button class="logout-btn">Logout</button></a>
    </div>

    <div class="main-container">
        <div class="add-user-3">
        <table class="tabela">
            <p class="form-header2">Manage User list:</p>
            <tr>
                <td class="spacing">Username</td>
                <td class="spacing">Email</td>
                <td class="spacing">Blocked</td>
                <td class="spacing">Delete</td>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:if="${user.locked == false}"><a th:href="@{/users/manage/{userId}/block(userId=${user.id})}"><button class="button-1-2" type="button">Block</button></a></td>
                <td th:if="${user.locked == true}"><a th:href="@{/users/manage/{userId}/unblock(userId=${user.id})}"><button class="button-1-2" type="button">Unblock</button></a></td>
                <td><a th:href="@{/users/manage/{userId}/delete(userId=${user.id})}"><button class="button-1-2" type="button">Delete</button></a></td>
            </tr>
        </table>
        </div>

    </div>
</div>

</body>
</html>